<!-- Molde para los productos -->

<article class="productCard">
    <a href="/product/<%= product.id %>">
        <img src="<%= product.image %>" alt="<%= product.name %>">
        <h2><%= product.name %></h2>
        <p>$<%= product.price %></p>
    </a>
</article>