    <%- include('../partials/header') %>
    <link rel="stylesheet" href="../../public/css/styles.css">
    <main class="home-main">
        
    <%- include('../partials/categorias') %>

        <section class="hero-container">
            <article class="hero-card hero-offer">
                <div class="hero-text">
                    <h2>Ofertas de temporada</h2>
                    <button>Ver más</button>
                </div>
            </article>
            <article class="hero-card hero-new">
                <div class="hero-text">
                    <h2>Nuevos lanzamientos</h2>
                    <button>Ver más</button>
                </div>
            </article>
        </section>

        <section class="products-section">
            <h2>Nuestros productos</h2>
            <div class="products-grid">
                <% productos.forEach(product => { %>
                    <%- include('../partials/productCard', { product }) %>
                <% }); %>
            </div>
        </section>

    <%- include('../partials/categorias') %>


    </main>

    <%- include('../partials/footer') %>

</body>
</html>