<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>

    <%- include('../partials/header') %>

    <main>

        <section>
            <h2>Categorías</h2>

            <ul>
                <li>Comida</li>
                <li>Bebidas</li> 
                <li>Indumentaria</li>
                <li>Juegos</li>
                <li>Automotor</li>
                <li>Hogar</li>
                <li>electronica</li>
                <li>Otros</li>
            </ul>
        </section>

        </section>

        <!-- Lista de productos -->
        <section>
            <h2>Productos</h2>

    <div class="productos">

        <% productos.forEach(p => { %>

            <article>
                <a href="/product/<%= p.id %>">
                    <img src="<%= p.imagen %>" alt="<%= p.nombre %>">
                    <h3><%= p.nombre %></h3>
                    <p><%= p.precio %> puntos</p>
                </a>
            </article>

        <% }) %>
    </div>
        </section>

    </main>
    <section>
        <h2>Categorías</h2>
        <ul>
            <li>Comida</li>
            <li>Bebidas</li>
            <li>Indumentaria</li>
            <li>Juegos</li>
            <li>Automotor</li>
            <li>Hogar</li>
            <li>electronica</li>
            <li>Otros</li>
        </ul>
    </section>



    <%- include('../partials/footer') %>

</body>
</html>